<app-sidebard [userFirstName]="userFirstName"></app-sidebard>
<div class="bg-yellow-200 min-h-screen pl-64">
  <!-- Sección de bienvenida -->
  <section class="w-full h-96 bg-yellow-400 flex items-center justify-center text-center">
    <div>
      <h1 class="text-5xl font-bold text-gray-800 mb-4">Bienvenido a Petpal</h1>
      <p class="text-lg text-gray-700">¡Cuida de tus mascotas con amor y puntualidad!</p>
      <button class="mt-6 bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded-full">
        Comenzar
      </button>
    </div>
  </section>

  <!-- Sección de contenido principal -->
  <section class="py-8 px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Tarjeta 1 -->
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-semibold mb-2">Programación de Comidas</h2>
        <p class="text-gray-600">Configura horarios automáticos para alimentar a tu mascota desde cualquier lugar.</p>
      </div>
      <!-- Tarjeta 2 -->
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-semibold mb-2">Monitoreo en Tiempo Real</h2>
        <p class="text-gray-600">Verifica el estado de tu mascota en tiempo real y recibe notificaciones instantáneas.</p>
      </div>
      <!-- Tarjeta 3 -->
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-semibold mb-2">Historial de Alimentación</h2>
        <p class="text-gray-600">Consulta el historial de alimentación de tu mascota y realiza ajustes cuando sea necesario.</p>
      </div>
    </div>
  </section>
</div>
